# Ignore everything except tracked project files
/*
!.gitignore
!Research/

# Adherence Analyzer project
Research/*
!Research/G-force/
Research/G-force/*
!Research/G-force/Adherence_analysis/
Research/G-force/Adherence_analysis/*
!Research/G-force/Adherence_analysis/adherence_analyzer.py
!Research/G-force/Adherence_analysis/README.md
!Research/G-force/Adherence_analysis/requirements.txt
!Research/G-force/Adherence_analysis/info.md
